<!DOCTYPE html>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <html>
        <head>
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/css/main.css">
        </head>
        <body>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/cv">CV</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </nav>
            <div class="container">
            
            {{ content }}
            
            </div><!-- /.container -->
            <footer>
                <ul>
                    <li><a href="mailto:josepablocam@gmail.com">email</a></li>
                    <li><a href="https://github.com/josepablocam">github.com/josepablocam</a></li>
                </ul>
            </footer>
        </body>
    </html>

